# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# 4 space indentation
[*.{tsx,jsx}]
indent_style = space
indent_size = 2

[*.{ts,js}]
indent_style = space
indent_size = 2

[*.{css,scss}]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.proto]
indent_style = space
indent_size = 2