// Typography
$main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
'Noto Color Emoji';

// Color
$color-success: #00B38A;
$color-warning: #F6BA1B;
$color-error:   #B30000;

$color-light-default: #f1f1f1;
$color-dark-default: #515152;

$color-rise: #d82e20;
$color-fall: #62d43f;